body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color:#3986d8;
    overflow-x: hidden; /*user can't use horizontal scrolling*/
}
.title {
    height: 100vh;
}
.title2 {
    height: 50vh;
}
#internet, #www, #hosting, #devices {
    height: 100vh;
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
/* 3rd Topic/page and Languages */
#request, #languages {
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr; 
    align-items: center;
    justify-items: center;
}
.back-end-content {
    grid-column: 4/5;
    grid-row: 2/4;
}
.front-end-content {
    grid-column: 2/3;
    grid-row: 2/4;
}
.l-arrow-img, .r-arrow-img {
    width: 200px;
}
.devices-img, .access-img {
    grid-column: 1/3;
    grid-row: 2/3;
}
.devices-img {
    width: 90%;
}
.access-img {
    width: 50%;
}
.hr3, .hr5 {
    grid-column: 1/6;
    grid-row: 1/2;
}
.hr3b, .hr5b {
    grid-column: 1/6;
    grid-row: 4/5;
}
.laptop-img, .front-end-img {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 200px;
}
.server-img, .back-end-img {
    grid-column: 5/6;
    grid-row: 2/4;
    width: 150px;
}
.back-end-img {
    justify-self: start;
}
.l-arrow-img {
    grid-column: 2/5;
    grid-row: 2/3;
}
.r-arrow-img {
    grid-column: 2/5;
    grid-row: 3/4;
}
.dns-img {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 75px;
}
/* End CSS for 3rd Topic/page */

h1 {
    font-size: 2em;
    padding-top: 20%;
    text-align: center;
}

.hr1, .hr2, .hr4, .hr6 {
    grid-column: 1/3;
    grid-row: 1/2;
}
.hr1b, .hr2b,  .hr4b, .hr6b {
    grid-column: 1/3;
    grid-row: 3/4;
}
.hr1, .hr2, .hr3, .hr4, .hr5, .hr6, .hr1b, .hr2b, .hr3b, .hr4b, .hr5b, .hr6b {
    width: 100%;
    height:20px;
    border-width:20px;
    color:gray;
    background-color:gray;
}
/* Left Images */
.www-img {
    width: 80%;
    grid-column: 1/2;
    grid-row: 2/3;
}
/* Right Images */
.internet-img,  .request-img, .hosting-img {
    width: 80%;
    grid-column: 2/3;
    grid-row: 2/3;
}
/* Left Text */
.internet-content, .request-content, .hosting-content {
    padding: 9em 5em;
    color: #000a42;
    grid-column: 1/2;
    grid-row: 2/3;
    line-height: 1.5em;
}
/* Right Text */
.www-content{
    padding: 9em 5em;
    color: #000a42;
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 1.5em;
}
.internet-content h2, .www-content h2, .request-content h2, .hosting-content h2 {
    padding: 25px;
    font-size: 2em;
    margin: 15px;
    width: 30vw;
    background-color: #000a42;
    color: white;
    line-height: 1.2em;
}
.front-end-content h2, .back-end-content h2 {
    margin-bottom: 1.2em;
    text-decoration: underline;
}
.internet-content p, .www-content p, .request-content p, hosting-content p {
    font-size: 1.2em;
}



@media screen and (max-width: 1100px) {
    img {
        /* width: 50%; */
        /* object-fit: none; */
    }
    .internet-content, .www-content, .request-content, .hosting-content {
        padding: 8em 4em;
        /* z-index: 0; */
        /* position: relative; */
        /* width: 40%; */
    }
    h2, .internet-content p, .www-content p, .request-content p, .hosting-content p {
        font-size: .8em;
    }
}
@media screen and (max-width: 850px) {
    .internet-content, .www-content, .request-content, .hosting-content {
        padding: 8.5em 2em;
    }
    .internet-content h2, .www-content h2, .request-content h2, .hosting-content h2 {
      font-size: 2em;
    }
    .l-arrow-img, .r-arrow-img, .dns-img, .hosting-img {
        width: 85%;
    }
    .front-end-img, .back-end-img {
        width: 75%;
    }
}
@media screen and (max-width: 500px) {
    .internet-content, .www-content, .request-content, .hosting-content {
        padding: 9em 2em;
    }
    .internet-content h2, .www-content h2 .request-content h2, .hosting-content h2 {
        font-size: 1.2em;
    }
    .laptop-img, .www-img, .server-img, .hosting-img {
        width: 80%;
    }  
}
